@{
	
}

<h1>@ViewData["PageTitle"]</h1>

<table class="table">
	<thead>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Cost</th>
	</tr>
	</thead>
	<tbody>
        <tr>
            <td>@ViewBag.Service.Title</td>
            <td>@ViewBag.Service.Description</td>
            <td>@ViewBag.Service.Cost</td>
        </tr>
	</tbody>
</table>

